html,
body {
	width: 100%;
	height: 95%;
	margin: 0;
	padding: 0;
	font: 16px Arial;
	background-color: #F9F8F6;
}

#container {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	margin-bottom: 0px;
	width: 80%;
	height: 100%;
	display: block;
	background-color: #F9F8F6;
}

#bits {
	border: 3px double darkorange;
	border-radius: 5px;
	height: 24px;
	font: 16px Arial;
}

#phrase1,
#phrase2,
#text1,
#text2 {
	border: 3px double darkorange;
	border-radius: 5px;
	display: block;
	width: 100%;
	font: initial;
	line-height: 20px;
}

input[type="button"] {
	width: 100px;
	background-color: white;
	color: black;
	border: 3px double darkorange;
	border-radius: 5px;
	cursor: pointer;
	font: 16px Arial;
	margin: 0;
}

input[type="button"]:hover {
	background-color: darkorange;
	color: white;
	border: 3px double white;
}

#buttons {
	display: block;
	margin-top: 5px;
	text-align: right;
	float: right;
	padding: 0;
}

label {
	margin-top: 5px;
	display: block;
}

#text1,
#text2 {
	height: calc(80% - 172px);
	resize: none;
}

#_hiddenFile {
	float: right;
	position: absolute;
	visibility: hidden;
	top: 0;
	right: 0;
	z-index: -1;
}

#save:disabled {
    color: black;
    border: 3px double darkorange;
    background-color: lightgray;
    cursor: unset;
}
